if(is_home())
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Blog",
      "name": !{config.title ? `"${config.title}"` : 'null'},
      "url": !{config.url ? `"${config.url}"` : 'null'},
      "description": !{config.description ? `"${config.description}"` : 'null'},
      "editor": {
        "@type": "Person",
        "name": !{config.author ? `"${config.author}"` : 'null'}
      },
      "publisher": {
        "@type": "Organization",
        "name": !{config.author ? `"${config.author}"` : 'null'},
        "logo": {
          "@type": "imageObject",
          "url": !{theme.profile.gravatar ? `"${full_url(theme.profile.gravatar)}"` :  'null'}
        }
      },
      "copyrightHolder": {
        "@type": "Person",
        "name": !{config.author ? `"${config.author}"` : 'null'}
      },
      "mainEntity": {
        "@type": "ItemList",
        "itemListElement": [
          !{ postList && postList.jsonld.length && JSON.stringify(postList.jsonld) }
        ]
      }
    }

if(is_post())
  -
    let keyword = page.tags && page.tags.reduce((str, entry) => {
      return str += entry.name + ',';
    }, ``).replace(/,+\s*$/, '');
  -
    let representImg = get_represent_image(page.seo && page.seo.image, hero);

  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": !{page.title ? `"${page.title}"` : 'null'},
      "alternativeHeadline": !{page.subtitle ? `"${page.subtitle}"` : 'null'},
      "image": {
        "@type": "imageObject",
        "url": !{representImg && representImg.url ? `"${full_url(representImg.url)}"` : 'null'},
        "width": !{representImg && representImg.width ? `"${representImg.width}"` : 'null'},
        "height": !{representImg && representImg.height ? `"${representImg.height}"` : 'null'}
      },
      "genre": !{page.seo && page.seo.genre ? `"${page.seo.genre}"` : 'null'},
      "keywords": !{`"${keyword}"` || 'null'},
      "editor": {
        "@type": "Person",
        "name": !{page.seo && page.seo.author ? `"${page.seo.author}"` : config.author ? `"${config.author}"` : 'null'}
      },
      "publisher": {
        "@type": "Organization",
        "name": !{config.author ? `"${config.author}"` : 'null'},
        "logo": {
          "@type": "imageObject",
          "url": !{theme.profile.gravatar ? `"${full_url(theme.profile.gravatar)}"` :  'null'}
        }
      },
      "author": {
        "@type": "Person",
        "name": !{page.seo && page.seo.author ? `"${page.seo.author}"` : config.author ? `"${config.author}"` : 'null'}
      },
      "url": !{page.permalink ? `"${page.permalink}"` : 'null'},
      "dateCreated": !{page.date ? `"${date(page.date, null)}"` : 'null'},
      "datePublished": !{page.date ? `"${date(page.date, null)}"` : 'null'},
      "articleBody": !{meta_description ? `${JSON.stringify(meta_description.replace(/\n/, ' '))}` : 'null'}
    }
if(is_archive() || is_category() || is_tag())
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "CollectionPage",
      "name": !{title ? `"${title}"` : 'null'},
      "headline": !{title ? `"${title}"` : 'null'},
      "mainEntity": {
        "@type": "ItemList",
        "itemListElement": !{JSON.stringify(postList.jsonld)}
      }
    }
